/* Font Imported From Google */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Header Section Styles */

header {
    border-radius: 16px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/bg-banner.png') no-repeat;
    background-size: 100% 100%;
    margin: 50px 140px 120px;
}
.header-title {
    padding: 120px 344px;
    display: block;
    
}
.header-title h4 {
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.header-title h1 {
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 
width: 632px;
margin-left: 30px;
}

