/* Font Imported From Google */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Header Section Styles */

header {
  border-radius: 16px;
  height: 600px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("images/bg-banner.png") no-repeat;
  background-size: 100% 100%;
  margin: 50px 140px 120px;
}
.header-title {
  padding: 120px 344px;
}
.header-title h4 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-title h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  margin-left: 30px;
}

/* Main Section Styles */

.holiday-deal-section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
.holiday-deal-offer {
  display: block;
  justify-content: center;
}
#offer-65 {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
#offer-65:hover {
  transform: scale(1.2);
}

.holiday-deal-offer h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.holiday-deal-offer h5 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.holiday-deal-offer h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.holiday-deal-section img {
  margin-top: 48px;
  margin-left: 399px;
  margin-right: 399px;
  margin-bottom: 120px;
}

.midnight-party-div {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("images/Vectorrr.png") no-repeat;
  height: 600px;
  background-size: 100% 100%;
  margin: 120px 140px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
 
}


.midnight-party-content h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  width: 600px;
  padding-top: 115px;
  padding-left: 126px;
}
.midnight-party-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  height: 60px;
  padding-left: 126px;
  padding-bottom: 15px;
}
.midnight-party-content a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 158px;
  
}
.midnight-party-img {
  margin-top: 76px;
  margin-right: 160px;
  margin-bottom: 67px;
  margin-left: 39px;
}
.event-date-div {
  height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 20px;
  margin: 120px;
  display: flex;
  justify-content: center;
}
.red-text {
  color: #f00;
}

.event-date-text {
  color: #070211;
  font-family: Inter;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  margin-top: 100px;
}
.btn-join {
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.event-date-text a {
  align-items: center;
  margin: 100px 200px 110px;
}
.comming-soon-section {
  margin-top: 180px;
}
.comming-soon-div {
  display: flex;
  justify-content: space-between;
  margin: 120px 140px;
}
.comming-soon-offer {
  width: 33%;
}
.comming-soon-offer h4 {
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.comming-soon-offer h1 {
  color: #070211;
  text-align: left;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.comming-soon-offer p {
  height: 128px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.comming-soon-img {
  margin-left: 70px;
  border: 20px solid #f00;
  border-radius: 100%;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}
.comming-soon-img:hover{
  transform: scale(1.1);
}
.comming-soon-offer h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 118px;
}
#comming-soon-offer-p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  padding-left: 118px;
  width: 276px;
}
.new-year-img {
  margin: 43px 136px 0px;
}
.sale-text h2 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.sale-text h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
}
.sale-text h6 {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  /* width: 1068px; */
  height: 96px;
  align-items: center;
  padding-left: 250px;
  padding-right: 250px;
}
.sale-img {
  background-image: url("images/Rectangle2.png");
  height: 700px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin: 120px 140px 0px 140px;
  position: relative;
}
#ad-photo {
  position: absolute;
  left: 1178px;
  top: -12px;
}
#dis-photo {
  position: absolute;
  top: 55px;
  left: 900px;
}
#gift-photo {
  position: absolute;
  top: -15px;
  left: 100px;
  width: 720px;
}
.gallary-section {
  margin: 120px 140px;
}
.gallary-section img {
  transition: transform 0.3s ease-in-out;
}
.gallary-section img:hover {
  transform: scale(1.1);
}

.gallary-section h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.gallary-section h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}
.gallary-section p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.gallary-row1 {
  margin-top: 48px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.gallary-row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.newsletter-section {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: 50px 140px 120px;
  padding-bottom: 15px;
}
.newsletter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 140px 120px;
  padding-top: 120px;
}
.newsletter-section img {
  width: 150px;
}
.email-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.email-input input:focus {
outline: none;
}
.newsletter-section h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.newsletter-section p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.newsletter-section input {
  width: 648px;
  height: 72px;
  flex-shrink: 0;
  border: 0px;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  padding-left: 50px;
  color: black;
  font-family: Inter;
  font-size: 18px;
}
.newsletter-section input::placeholder {
  color: rgba(7, 2, 17, 0.3);
  text-align: left;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 25px;
}
.newsletter-section button {
  width: 210px;
  height: 72px;
  border: 0px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.newsletter-section button:hover {
  background-color: #9a2131;
}

/* Footer section styles */

footer {
  background-color: #070211;
  margin-top: 120px;
  height: 609px;
}

.footercol1 p,
li {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}
.footercol1 {
  margin-top: 80px;
  margin-right: 50px;
}
.footerrow1 {
  display: flex;
  justify-content: space-around;
}
.footer-main {
  padding: 120px 140px;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 48px 0 48px 0;
}
.footerrow1 a {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#copyright {
  margin-right: 500px;
}
#unsubscribe {
  margin-left: 10px;
}
